* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;

}


.cabecalho {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 80px;
  background-color: #8304a5;
  width: 100%;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 17px;
  padding-right: 50px;
  flex: 1;
  gap: 70px;
  padding-left: 80px;

}


.logo {
  display: flex;
  align-self: flex-start;
  left: 20px;
  position: relative;
}

.logo-img {
  width: 100px;
  cursor: pointer;
  height: 80px;
}



a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.botao {
  align-items: center;
  font-size: 17px;
  color: whitesmoke;
  background-color: #3E497A;
  border-radius: 10px;
  padding: 5px 20px;
  height: 40px;
}

.botao-secundario {
  align-items: center;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
}

.cadastrar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 0 auto;
  /* centraliza */
  padding: 20px;
  gap: 20px;
}



.cadastrar .title {
  color: #9E43E7;
  font-size: 30px;
  text-align: center;
}

.campos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.cadastrar .grupo {
  display: flex;
  flex-direction: column;
  height: 50%;
  max-width: 100%;
  flex: 1 1 auto;
  /* Permite que os grupos cresçam */

}

.cadastrar .botoes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px 60px;
}

.cadastrar .cad-um {
  font-size: 30px;
  line-height: 2.5;
  font-weight: bold;
  text-align: center;
}

.cadastrar .caixas {
  text-align: left;
  width: 100%;
}

.cadastrar .caixa {
  margin: 10px 5px;
}

.cadastrar .caixa input,
.cadastrar .caixa select {
  width: 100%;
  min-height: 30px;
  background-color: rgb(216, 215, 215);
  padding: 3px;
  /* margin: 10px; */
  color: #444;
  border-radius: 12px;
  font-size: 17px;
  border: none;
}

select {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  background-color: rgb(216, 215, 215);
  padding: 3px;
  /* margin: 10px; */
  border-radius: 5px;
  border: 1px solid #0f0f0f;
  color: #444;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

.rodape {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 60px;
  align-items: center;
  height: 50px;
  font-size: 15px;
}

/* Botão de Menu */
.menu-toggle {
  position: relative;
  font-size: 33px;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 80px;
}

.menu-toggle span {
  transition: transform 0.3s ease;
  line-height: 0.9;
}

.menu-toggle.sidebar.ativo span {
  transform: rotate(90deg);
}

/* Sidebar */
.sidebar {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  background-color: #BA91BA;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  min-width: 170px;
  z-index: 1000;
  overflow: hidden;
}

.sidebar.ativo {
  display: flex;
}

.sidebar a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.sidebar a:hover {
  background-color: #8304A5;
}


@media (max-width: 1024px) {

  .cabecalho {
    gap: 70px;
  }

  .cabecalho img {
    width: 110px;
    /* Logo ainda menor */
  }

  .menu-toggler {
    min-width: 150px;
  }

  .menu {
    gap: 70px;
    padding-left: 90px;
  }

  .campos {
    flex-direction: column;
    padding: 20px;
  }

  .cadastrar .botoes {
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
  }

  .menu {
    display: none;
  }

}







@media (max-width: 768px) {

  .cabecalho {
    padding: 15px 20px;
    min-height: 80px;
  }

  .cabecalho img {
    width: 80px;
  }

  .menu {
    display: none;
  }

  .cabecalho {
    gap: 0;
  }
}

@media (max-width: 480px) {

  .cabecalho {
    padding: 10px 15px;
    min-height: 70px;
  }

  .cabecalho img {
    width: 70px;
    /* Logo ainda menor */
  }

  .sidebar {
    min-width: 150px;
  }
}

.login-btn {
  position: relative;
  cursor: pointer;
}

.login-btn img {
  height: 50px;
}