* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    height: 80px;
    display: flex;
    background-color: #8304A5;
    align-self: flex-end;
}

.indice {
    justify-content: end;
    align-items: center;
    display: flex;
    width: 20500px;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 50px;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.entrar-1 {
    width: 70px;
    height: 40px;
    color: #8304A5;
    background-color: #ffffff;
    border-style: none;
}

.campoFormulario {
   padding-top: 50px;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formulario-2 {
   
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.campo {
  
    border-color: #c0c0c0;
    width: 350px;
    height: 30px;
    border-radius: 10px;
}

.filtros {

width: 200px;
justify-content: center;
display: flex;
justify-content: space-between;
font-size: 17px;
}

h1 {
    padding-bottom: 30px;
    font-size: 30px;
    color: #8304A5
}