* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
=======
>>>>>>> branch_rafael
}

.cabecalho {
    height: 80px;
    display: flex;
    background-color: #8304A5;
    align-self: flex-end;
}

.indice {
    justify-content: end;
    align-items: center;
<<<<<<< HEAD
    padding: 20px 40px;
    border-bottom: 3px solid #9E43E7;
}

.logo img {
    width: 250px;
}

nav {
=======
>>>>>>> branch_rafael
    display: flex;
    width: 20500px;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 50px;
    font-size: 17px;
}

a {
    text-decoration: none;
<<<<<<< HEAD
    color: black;
    font-size: 16px;
}

.link-vermelho {
    color: black;
=======
    color: #ffffff;
}

.entrar-1 {
    width: 70px;
    height: 40px;
    color: #8304A5;
    background-color: #ffffff;
    border-style: none;
>>>>>>> branch_rafael
}

.campoFormulario {
   padding-top: 50px;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formulario-2 {
   
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
=======
.campo {
  
    border-color: #c0c0c0;
    width: 350px;
    height: 30px;
    border-radius: 10px;
>>>>>>> branch_rafael
}

.filtros {

width: 200px;
justify-content: center;
display: flex;
justify-content: space-between;
font-size: 17px;
}

<<<<<<< HEAD
.profissional {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.profissional.destaque {
    background-color: white;
}

.icon img {
    width: 50px;
}

.info {
    flex: 1;
    margin-left: 20px;
}

.nome {
    font-size: 16px;
    margin-bottom: 5px;
}

.vermelho {
    color: #dc2626;
}

.saiba-mais {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 60px;
    align-items: center;
    height: 50px;
  }
=======
h1 {
    padding-bottom: 30px;
    font-size: 30px;
    color: #8304A5
}
>>>>>>> branch_rafael
