
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    line-height: 1.5;
    overflow: hidden;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #9E43E7;
    gap: 20px;
  }
  
  .logo a {
    display: inline-block;
  }
  
  .logo img {
    max-width: 130px;
    height: auto;
    cursor: pointer;
  }
  
  nav{
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    gap: 65px;
  }

  nav p{
    color: red;
  }
  
  nav a{
    text-decoration: none;
    padding-right: 40px;
    color: #8A2BE2;
    font-weight: 500;
    font-size: 17px;
  }
  
  .denunciar{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .login-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.2s ease;
  }
  
  .login-btn img {
    width: 45px;
    height: 45px;
  }
  
  .login-btn:hover {
    transform: scale(1.1);
  }
  
  .card{
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 16px 50px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: justify;
    transition: transform 0.2s ease;
    flex: 1;
  }
  
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    margin-top: 20px;
    max-width: 1000px;
    padding: 0 5px;
    align-items: stretch;
    gap: 50px;
  }
  
  .coluna{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .coluna a{
    text-decoration: none;
  }
  
  .coluna h2 {
    text-align: center;
    color: #8A2BE2;
    margin-bottom: 20px;
  }

  .coluna h4{
    text-align: center;
    color: red;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  /* Responsividade */

  @media (max-width: 768px){

    header{
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav{
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .denunciar{
      width: 100%;
      text-align: center;
    }

    .cards-section {
      flex-direction: column;
    }
  
    .coluna {
      flex: 1 1 100%;
    }
  
    header {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }
  
    nav {
      gap: 15px;
      font-size: 14px;
      align-self: flex-end;
    }
  
  }