
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    line-height: 1.5;
    overflow: hidden;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #9E43E7;
    gap: 20px;
}
  
.logo a {
    display: inline-block;
}
  
.logo img {
    max-width: 130px;
    height: auto;
    cursor: pointer;
}

nav{
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
    gap: 65px;
}
  
nav a{
    text-decoration: none;
    padding-right: 40px;
    color: #8A2BE2;
    font-weight: 500;
    font-size: 17px;
}
  
.denunciar{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}
  
.login-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.2s ease;
}
  
.login-btn img {
    width: 45px;
    height: 45px;
}
  
  .login-btn:hover {
    transform: scale(1.1);
}
  
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
}
  
.text-section {
    flex: 1;
    min-width: 300px;
    padding: 8px;
}
  
.titulo {
    font-size: 28px;
    color: #9933cc;
    margin-bottom: 20px;
}
  
.titulo-missao {
    font-size: 28px;
    color: #9933cc;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.descricao {
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
    line-height: 1.8;
}
  
.imagem-section {
    flex: 1;
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imagem-mensagem {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
  
/* Responsividade */
@media (max-width: 768px) {

    header{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    
    nav{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        font-size: 14px;
        align-self: flex-end;
    }
    
    .denunciar{
        width: 100%;
        text-align: center;
    }


    .container {
      flex-direction: column;
      padding: 20px;
    }
  
    .imagem-section {
      margin-top: 20px;
    }
  
    .titulo {
      font-size: 24px;
    }
  
    .titulo-missao {
      font-size: 20px;
    }
  
    .descricao {
      font-size: 15px;
    }
}