* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    height: 80px;
    display: flex;
    background-color: #8304A5;
    align-self: flex-end;
}

.indice {
    justify-content: end;
    align-items: center;
    display: flex;
    width:20500px;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 50px;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.entrar-1 {
    width: 70px;
    height: 40px;
    color: #8304A5;
    background-color: #ffffff;
    border-style: none;
}

.entrar {
    display: flex;
    align-items: center;
    height: 100px;
    width: 500%;
    flex-direction: row-reverse;
    padding-right: 50px;

}

.icone {
    height: 40px;
}


h1 {
    font-size: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    text-align: center;
    display: block;
    padding-bottom: 30px;

}

form {
    justify-items: center;
    align-content: center;
    background-color: #BA91BA;
    height: 400px;
    width: 400px;
    border-radius: 20px;


}

.fomulario {
    padding-top: 30px;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.email {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: #BA91BA;

}

.senha {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: #BA91BA;
}

.login {
    width: 350px;
    height: 100px;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.botao {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: #BA91BA;

}

p1 {
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    padding-left: 35px;


}