* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 250px;
}

.container {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #a855f7;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

input {
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #dcdcdc;
    font-size: 16px;
}

.resultado {
    font-size: 14px;
    color: #444;
}
